{% extends 'layout/base.html' %}

{% block title %}
    Detalle de Administrador
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">{{ user.name }}</h2>
    <dl class="row">
        <dt class="col-sm-3">Edad:</dt>
        <dd class="col-sm-9">{{ user.age }}</dd>

        <dt class="col-sm-3">Número de Empleado:</dt>
        <dd class="col-sm-9">{{ user.number_employee }}</dd>

        <dt class="col-sm-3">Teléfono:</dt>
        <dd class="col-sm-9">{{ user.phone }}</dd>

        <dt class="col-sm-3">Dirección:</dt>
        <dd class="col-sm-9">{{ user.address }}</dd>

        <dt class="col-sm-3">Número de Identidad:</dt>
        <dd class="col-sm-9">{{ user.number_id }}</dd>

        <dt class="col-sm-3">Correo:</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
    </dl>
    
    <a href="{% url 'user_update' user.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'user_list' %}" class="btn btn-secondary">Volver a la lista</a>
</div>
{% endblock %}
