{% extends 'layout/base.html' %}

{% block title %}Lista de vendedores{% endblock %}

{% block content %}
    <h2>Lista de vendedores</h2>
    <a href="{% url 'seller_create' %}" class="btn btn-primary">crear un nuevo vendedor </a>
    <ul>
        {% for seller in sellers %}
            <li>
                <a href="{% url 'seller_detail' seller.pk %}">{{ seller.name }}</a>
                <a href="{% url 'seller_update' seller.pk %}" class="btn btn-secondary btn-sm">Editar</a>
                <form action="{% url 'seller_delete' seller.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
