{% extends 'layout/base.html' %}

{% block title %}Detalles de Vendedor{% endblock %}

{% block content %}
    <h2>{{ seller.name }}</h2>
    <ul>
        <li>Nombre: {{ seller.name}}</li>
        <li>Edad: {{ seller.age }}</li>
        <li>Numero de Empleado: {{ seller.number_employee }}</li>
        <li>Telefono: {{ seller.phone }}</li>
        <li>Direccion: {{ seller.address }}</li>
        <li>ID: {{ seller.number_id }}</li>
        <li>Correo: {{ seller.email }}</li>
        <li>Locacion: {{ seller.schedule }}</li>
        <li>Horario: {{ seller.schedule }}</li>
       
    </ul>
    <a href="{% url 'seller_update' seller.pk %}" class="btn btn-primary">Editar</a>
    <a href="{% url 'seller_detail' seller.pk %}" class="btn btn-secondary">Volver</a>
{% endblock %}
