{% extends 'layout/base.html' %}
{% block title %}  {{ vehicle.tradeMark }} {{ vehicle.vehicleModel }}{% endblock %}

{% block content %}
    <style>
        .full-width-card {
            width: 100%;
            margin-bottom: 20px;
        }

        .full-width-card img {
            height: 400px;
            object-fit: cover;
        }
    </style>
    
    <div class="container-fluid">
        <div class="card full-width-card">
            <img src="{{ vehicle.image.url }}" class="card-img-top" alt="Marca Modelo">
            <div class="card-body">
                <h5 class="card-title">{{ vehicle.tradeMark }} {{ vehicle.vehicleModel }}</h5>
                <p class="card-text">
                    <strong>Año:</strong> {{ vehicle.year }}<br>
                    <strong>Puertas:</strong> {{ vehicle.numberDoors }}<br>
                    <strong>Transmisión:</strong> {{ vehicle.transmission }}<br>
                    <strong>Tipo:</strong> {{ vehicle.vehicleType }}<br>
                    <strong>Precio: </strong> {{ vehicle.price }} LPS.
                </p>
            </div>
        </div>
    </div>

     <form action="{% url 'save_date' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="vehicle" value="{{ vehicle.id }}">
                <input type="hidden" name="client" value="{{ request.session.client_id }}">
                <labe>Agendar dia de la cita</labe>
                <br>
                <input type="date" name="dayDate">
            </div>
            <button type="submit" >Agendar</button>
        </form>
{% endblock %}